<div class="container " style="height: 100%;">
    <div class="card" style="display: flex;place-content: center; border: none;height: 100%;">
        <div id="botonCerrar" style="width: 100%; margin:20px;display: flex;justify-content: left;">
            <button type="button" class="close" style="background: transparent; border: none; "
                (click)="desactivarEdicionDatosAudio()">
                <span class="material-symbols-outlined" style=" font-size: 40px; ">
                    undo
                </span>
            </button>
        </div>

        <div class="row" style="place-content: center;display: flex;">
            <div class="col-md-12">
                <div class="card-body">
                    <div style="display: flex;width: 100%; justify-content: center;">
                        <h1><strong>Editar Audio</strong></h1>
                    </div>
                    <form class="needs-validation m-4" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
                        <div class="row mt-3" style="display: flex; justify-content: center;">
                            <div class="col">
                                <label class="form-label" for="titulo">Título: </label>
                                <div style="display: flex;justify-content: center;">
                                    <input type="text" class="form-control form-control-lg" id="titulo" name="titulo"
                                        formControlName="titulo" [(ngModel)]="titulo"
                                        [class.is-invalid]="form.get('titulo')?.invalid && form.get('titulo')?.touched">
                                </div>
                                <label class="form-label" for="autor">Autor: </label>
                                <div style="display: flex;justify-content: center;">
                                    <input type="text" class="form-control form-control-lg" id="autor" name="autor"
                                        formControlName="autor" [(ngModel)]="autor"
                                        [class.is-invalid]="form.get('autor')?.invalid && form.get('autor')?.touched">
                                </div>
                                <label class="form-label" for="comentarios">Comentarios: </label>
                                <div style="display: flex;justify-content: center;">
                                    <textarea style="height: 100px; resize: none;" class="form-control form-control-lg"
                                        id="comentarios" name="comentarios" formControlName="comentarios"
                                        [(ngModel)]="comentarios"
                                        [class.is-invalid]="form.get('comentarios')?.invalid && form.get('comentarios')?.touched">
                                    </textarea>
                                </div>
                                
                            </div>
                            <div class="col">
                                <label class="form-label" for="ruta_imagen">Imagen: </label>

                                <div style="display: flex;justify-content: center;">
                                    <img [src]="ruta_imagen" style="width:100%;height: 200px;" alt="Imagen" />
                                </div>
                                <div style="display: flex; justify-content: center;">
                                    <button class="btn btn-outline-danger mt-1" (click)="quitarImagen()"
                                        style="width:100%;">Eliminar Imagen</button>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" style="display: flex; justify-content: center;">
                            <label class="form-label" for="ruta_audio">Audio: </label>
                            <audio style="width: 70%;" controls [src]="ruta_audio"> Tu navegador no soporta el elemento de audio.</audio>
                        </div>

                        <div class="col-md-12 d-flex justify-content-center" style="margin-top: 20px; ">
                            <button type="submit" class="btn btn-primary btn-lg " style="background-color: #001148;">
                                Confirmar Edición</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>