<div class="card fondo d-flex" style="width: 100%; height: 100vh; border: none; background-color: transparent;">
    <div class="card-body d-flex" style="width: 100%; height: 100%; border: none; justify-content: center;">
        <div class="row" style="height: 100%; border: none; width: 100%;">
            <div class="col-md-12 col-lg-6" style="height: 100%; border: none; width: 100%;">

                <div class="d-flex card" style="height: 100%; border-radius: 20px; align-items: center;  width: 100%;">


                    <div id="filtros" class="dropdown d-flex flex-column flex-md-row">


                        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mb-2 mb-md-0"
                            style="margin: 10px; width: 100%;">
                            <div class="d-flex justify-content-center align-items-center mb-2 mb-md-0"
                                *ngIf="estadoFiltroFecha">
                                <button style="border: none; background: transparent;" (click)="eliminarFiltrosFecha()">
                                    <span class="material-symbols-outlined" style="color: red; font-size: 30px;">
                                        cancel
                                    </span>
                                </button>
                            </div>
                            <input type="date" [(ngModel)]="startDate" class="form-control mb-2 mb-md-0 mr-md-2">
                            <input type="date" [(ngModel)]="endDate" class="form-control mb-2 mb-md-0 mr-md-2">
                            <button class="btn btn-primary" (click)="filtrarPorFecha(startDate || '', endDate || '')"
                                style="background-color: #001148">Filtrar</button>
                        </div>

                        <div class="d-flex justify-content-center align-items-center mb-2 mb-md-0"
                            *ngIf="estadoFiltroAccion">
                            <button style="border: none; background: transparent;" (click)="eliminarFiltrosHistorial()">
                                <span class="material-symbols-outlined" style="color: red; font-size: 30px;">
                                    cancel
                                </span>
                            </button>
                        </div>

                        <button class="btn btn-secondary dropdown-toggle btn-block btn-sm mb-2 mb-md-0" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                            style="background-color: white; color: #4D7DEA; border-color: #4D7DEA; margin: 15px ;">
                            {{opcionElegidaHistorial}}
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="Filtrar por acción: ">
                            <li><a class="dropdown-item" (click)="filtrandoAccion('Modificado')">Modificado</a></li>
                            <li><a class="dropdown-item" (click)="filtrandoAccion('Eliminado')">Eliminado</a></li>
                        </ul>

                        <button class="btn btn-secondary dropdown-toggle btn-block btn-sm mb-2 mb-md-0" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                            style="background-color: white; color: #4D7DEA; border-color: #4D7DEA; margin: 15px ;">
                            {{opcionElegida}}
                        </button>

                        <ul class="dropdown-menu" aria-labelledby="Ordenar por: ">
                            <li><a class="dropdown-item" (click)="filtrando('Más reciente')">Más reciente</a></li>
                            <li><a class="dropdown-item" (click)="filtrando('Más antiguo')">Más antiguo</a></li>
                            <li><a class="dropdown-item" (click)="filtrando('A → Z')">A → Z</a></li>
                            <li><a class="dropdown-item" (click)="filtrando('Z → A')">Z → A</a></li>
                        </ul>

                    </div>

                    <h2 style="margin-top: 20px;">Historial de Edición</h2>

                    <div class="container">
                        <div *ngFor="let audiohistorial of paginas[paginaActual]" class="col-12 col-sm-12 col-md-6"
                            style="padding: 10px;">
                            <app-card-historial [audiohistorial]="audiohistorial"></app-card-historial>
                        </div>
                    </div>

                    <nav aria-label="Page navigation example" style="margin-top: 20px;">
                        <ul class="pagination justify-content-center flex-wrap">
                            <li class="page-item" [class.disabled]="paginaActual === 0">
                                <a class="page-link" id="btn-paginacion" (click)="paginaAnterior()">Anterior</a>
                            </li>
                            <ng-container *ngIf="paginas.length <= 5; else mostrarPuntos">
                                <li class="page-item" *ngFor="let _ of paginas; let i = index"
                                    [class.active]="i === paginaActual">
                                    <a class="page-link" id="btn-paginacion2" (click)="irAPagina(i)">{{ i + 1
                                        }}</a>
                                </li>
                            </ng-container>

                            <ng-template #mostrarPuntos>
                                <li class="page-item" *ngFor="let _ of paginas.slice(0, 3); let i = index"
                                    [class.active]="i === paginaActual">
                                    <a class="page-link" id="btn-paginacion2" (click)="irAPagina(i)">{{ i + 1
                                        }}</a>
                                </li>
                                <li class="page-item disabled"><a class="page-link">...</a></li>
                                <li class="page-item" *ngFor="let _ of paginas.slice(-2); let i = index"
                                    [class.active]="paginaActual === paginas.length - 1 - i">
                                    <a class="page-link" id="btn-paginacion2"
                                        (click)="irAPagina(paginas.length - 1 - i)">{{ paginas.length - i }}</a>
                                </li>
                            </ng-template>

                            <li class="page-item" [class.disabled]="paginaActual === paginas.length - 1">
                                <a class="page-link" id="btn-paginacion" (click)="paginaSiguiente()">Siguiente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>