
.container {
    display:grid;
    place-items: center;
    height: 100%;
}

.card {
    width: 100%;
    height: 100%;
    border:none;
    display:flex;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
}


.close{
    display: flex;
    justify-content: left;
}

.comments {
    max-height: 100px;
    overflow: auto;
    width: 100%;
}

.audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.audio{
    display: flex;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map-container {
    height: 400px;
}


@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col {
        margin: 10px 0;
    }

    .map-container {
        height: 300px;
    }
}
