<div class="card d-flex" style="border: 3px solid #E2E2E2; margin-bottom: 10px;">

    <div class="row">
        <div class="col-sm-5">
            <img src="assets/imagenes/sonidos_del_pura_vida.png" style="width: 95%;height:80%;">
        </div>
        <div class="col-sm-5">
            <h5>La calma inesperada</h5>
            <h5>Provincia: </h5>
            <h5>Autor:</h5>
            <audio controls src="" style="width: 100%;"></audio>
        </div>
        <div class="col-sm" style="text-align: center;align-items: center; height: 100%; width: 100%;">
            <span class="material-symbols-outlined">
                download
            </span>
        </div>
    </div>
</div>
