<div class="card d-flex">

  <div class="row">

    <div class="col-md-4 col-12 img-audio" >
      <img [src]="audio.ruta_imagen" style="width: 100%; height: 150px; display: block; object-fit: contain;">
    </div>

    <div class="col-md-5 col-sm-6 col-11 d-flex justify-content-center align-items-center" style="margin-top: 10px;">
      <button data-bs-toggle="modal" data-bs-target="#verinfoaudios"
        style="border:none; background: transparent;text-align:start;" (click)="ubicarAudio()">
        <h5> {{ audio.titulo }}</h5>
        <p>Provincia: {{ audio.provincia }}</p>
        <p>Cantón: {{ audio.canton }}</p>
        <p>Autor: {{ audio.autor }}</p>
      </button>
    </div>
    <div class="col d-flex" style="text-align: center;align-items: center; place-content: center;">
      <a [href]="audio.ruta_audio" download>
        <button style="border: none; background: transparent;">
          <span class="material-symbols-outlined" style="font-size: 40px;">
            download
          </span>
        </button>
      </a>
    </div>
  </div>
  <div class="row d-flex" style="place-content: center;">
    <audio controls [src]="audio.ruta_audio" style="border-radius: 0%; width: 80%; margin-bottom: 10px;"></audio>
  </div>
</div>