<div class="card d-flex" style="border: 2px solid #E2E2E2; margin-bottom: 10px; width: 98%;">

    <div class="row">
        <div class="col-sm-4 d-flex" style="align-items: center; text-align: center; place-content: center;">
            <img src="assets/imagenes/sonidos_del_pura_vida.png" style="width: 95%;height:80%;object-fit:contain; border-radius: 5px;">
        </div>
        <div class="col-sm-6">
            <h5 >La calma inesperada del coyo bonito</h5>
            <p>Provincia: </p>
            <p>Autor:</p>
            
        </div>
        <div class="col d-flex" style="text-align: center;align-items: center; place-content: center;">
            <button style="border: none; background: transparent;">
                <span class="material-symbols-outlined" style="font-size: 40px;">
                    download
                </span>
            </button>
        </div>
    </div>
    <div class="row d-flex" style="place-content: center;">
        <audio controls src="" style="border-radius: 0%; width: 80%; margin-bottom: 10px;"></audio>
    </div>
    
</div>




