/* You can add global styles to this file, and also import other style files */


html, body {
    background-color: "#f5f5f5";
}

:host {
    background-color: #f5f5f5;
  }

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #f1f3f4;
    border-radius: 20px;
}
