.tituloRegistrar {
  text-align: center;
  font-size: 2em;
  margin-top: 20%;
  margin-bottom: 10%;
  font-weight: bold;
}

.form-label {
  font-size: 1.3rem;
  color: #000;
  font-weight: 500;
  text-align: left;
  margin-left: 10%;
}

.form-control {
  border-radius: 20px;
  background-color: #f1f3f4;
  max-width: 80%;
  margin-left: 10%;
}

.invalid-feedback {
  margin-left: 10%;
}

.botonRegistrar {
  border-radius: 20px;
  background-color: #001148;
  border-color: #001148;
  width: 18rem;
  height: 3.5rem;
  margin-top: 3rem;
  font-size: x-large;
}
