.fondo {
    background-color: transparent;
}

.card-body {
    background-color: transparent;
    border: none;
}

.card {
    background-color: white;
}

#btn-paginacion {
    background-color: #001148;
    color: white;
    box-shadow: none;
    cursor: pointer;
}

#btn-paginacion:hover {
    background-color: #001148;
    color: white;
}

#btn-paginacion2 {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

#btn-paginacion2:hover {
    background: #DA291C;
    color: white;

}
a{
    color: #000;

}

p{
    font-size: large;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #DA291C;
    border-color: #DA291C;
}
.page-link {
    align-items: center;
    justify-content: center;
    display: flex;
}



#btn-paginacion:hover {
    background-color: #001148;
    color: white;
}
