<div class="card fondo d-flex" style="width: 100%; height: 100vh; border: none; background-color: transparent;">
    <div class="card-body" style="width: 100%; height: 100%;">
        <div class="row" style="height: 100%;">
            <div class="col" style="height: 100%;">
                <div class="card" style="height: 100%; border-radius: 20px;">
                    aqui mete algo
                </div>
            </div>
            <div class="col" style="height: 100%;">
                <div class="card" style="height: 100%; border-radius: 20px;">
                  <app-registrar-admin></app-registrar-admin>
                </div>
            </div>
        </div>
    </div>
</div>
