<div class="card fondo d-flex" style="width: 100%; height: 100vh; border: none; background-color: transparent;">
    <div class="card-body" style="width: 100%; height: 100%; border: none;">
        <div class="row" style="height: 100%; border: none;">
            <div class="col" style="width: 100%;;height: 100%; border: none;">
                <div class="d-flex card" style="height: 100%; border-radius: 20px; align-items: center;  width: 100%;">
                    <div class="row d-flex" style="justify-content: right; width: 100%; ">
                        <div class="col d-flex" style="align-items: center; justify-content: end; margin: 20px;">
                            <div style="width: 100%;">
                                <h1>Gestión de Administradores</h1>
                            </div>
                            <div *ngIf="tocoBotonAnadir; else noTocado">
                                <button style="background-color: transparent;border: none;" (click)="botonAnadir()">
                                    <span class="material-symbols-outlined" style="font-size: 60px; color: red;">
                                        person_add
                                    </span>
                                </button>
                            </div>

                            <ng-template #noTocado>
                                <button style="background-color: transparent;border: none;" (click)="botonAnadir()">
                                    <span class="material-symbols-outlined" style="font-size: 60px;">
                                        person_add
                                    </span>
                                </button>
                            </ng-template>
                        </div>
                    </div>


                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center flex-wrap">
                            <li class="page-item" [class.disabled]="paginaActual === 0">
                                <a class="page-link" id="btn-paginacion" style="margin-right: 0.5rem; margin-bottom: 0.5rem;" (click)="paginaAnterior()">Anterior</a>
                            </li>

                            <li class="page-item" [class.disabled]="paginaGrupoActual === 0">
                                <a class="page-link" id="btn-grupo-anterior" (click)="grupoAnterior()">...</a>
                            </li>

                            <ng-container *ngFor="let i of getPaginasGrupoActual()">
                                <li class="page-item" [class.active]="i === paginaActual">
                                    <a class="page-link" id="btn-paginacion2" (click)="irAPagina(i)">{{ i + 1 }}</a>
                                </li>
                            </ng-container>

                            <li class="page-item" [class.disabled]="paginaGrupoActual === maximoGrupos - 1">
                                <a class="page-link" id="btn-grupo-siguiente" (click)="grupoSiguiente()">...</a>
                            </li>

                            <li class="page-item" [class.disabled]="paginaActual === paginas.length - 1">
                                <a class="page-link" id="btn-paginacion" style="margin-left: 0.5rem;" (click)="paginaSiguiente()">Siguiente</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="container" style=" overflow-y: auto; width: 90%; height:100%;padding: 20px;">
                        <div *ngFor="let admin of paginas[paginaActual]" (click)="activarVistaInfoAdmin(admin)">
                            <app-card-admin [admin]="admin"></app-card-admin>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col" style="width: 100%;height: 100%;">
                <div class="card" style="width: 100%;height: 100%; border-radius: 20px; justify-content: center; ">
                    <div *ngIf="tocoBotonAnadir && !activarVistaInformacionAdmin && !editarAdmin && !eliminarAdmin">
                        <app-registrar-admin></app-registrar-admin>
                    </div>
                    <div *ngIf="activarVistaInformacionAdmin && !tocoBotonAnadir">
                      <app-editar-admin [admin]="adminSeleccionado"></app-editar-admin>
                   </div>
                    <div *ngIf="editarAdmin">
                        <app-confirmar-edicion-admin [admin] = "adminSeleccionado"> </app-confirmar-edicion-admin>
                    </div>
                    <div *ngIf="eliminarAdmin">
                      <app-confirmar-eliminacion-admin [admin]="adminSeleccionado"></app-confirmar-eliminacion-admin>
                    </div>
                    <div *ngIf="original">
                        <img src="assets/imagenes/sonidosPV.png" style="display: flex; width: 100%; place-content: center; ">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
