<div class="modal fade" id="crearAudios" tabindex="-1" aria-hidden="true" #crearAudios
    (shown.bs.modal)="onModalShown()">
    <div class="modal-dialog" style="max-width: 1500px;">
        <div class="modal-content" style=" border-radius: 40px; padding: 5px;">
            <div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                    style="background: transparent; border: none; margin: 20px 0px 0px 20px;">
                    <span class="material-symbols-outlined" style=" font-size: 40px;">
                        cancel
                    </span>
                </button>
            </div>

            <h1 class="d-flex" style="place-content: center;">Crear Sonidos Pura Vida</h1>

            <div class="modal-body d-flex" style="place-content: center;">
                <div class="card" style="width: 90%;height: 90%; border-radius: 20px; stroke: #F1F3F4;">

                    <form class="needs-validation m-4" (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="row">

                                    <label class="form-label" for="titulo">Título del sonido: </label>
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control form-control-lg" id="titulo"
                                            name="titulo" formControlName="titulo"
                                            [class.is-invalid]="form.get('titulo')?.invalid && form.get('titulo')?.touched">
                                        <div class="invalid-feedback"
                                            *ngIf="form.get('titulo')?.invalid && form.get('titulo')?.touched">
                                            Debe ingresar un título para el audio
                                        </div>
                                    </div>

                                </div>
                                <div class="row mt-3">
                                    <label class="form-label" for="autor">Autor: </label>
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control form-control-lg" id="autor" name="autor"
                                            formControlName="autor"
                                            [class.is-invalid]="form.get('autor')?.invalid && form.get('autor')?.touched">
                                        <div class="invalid-feedback"
                                            *ngIf="form.get('autor')?.invalid && form.get('autor')?.touched">
                                            Debe ingresar el autor del audio
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <label class="form-label" for="comentarios">Comentarios: </label>
                                    <div class="input-group has-validation">
                                        <textarea type="text" class="form-control form-control-lg" id="comentarios"
                                            name="comentarios" formControlName="comentarios"></textarea>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-3">
                                    <div>
                                        <label for="input-file" id="drop-area" (drop)="onDrop($event)"
                                            (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">

                                            <input type="file" accept="image/*" id="input-file" hidden
                                                (change)="onImagechange($event)">
                                            <div id="img-view" [style.background-image]="'url('+imageSrc+')'"
                                                [style.textContent]="" [ngStyle]="{'border': imageSrc ? '0' : null}">
                                                <img *ngIf="!imageSrc" src="../../assets/icons/cloud-upload.svg">
                                                <p *ngIf="!imageSrc">Arrastra y suelta o haz clic para <br> subir una
                                                    imagen</p>
                                                <span *ngIf="!imageSrc">50mb tamaño máximo</span>

                                            </div>


                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="d-flex align-items-center">
                                        <label class="form-label">Seleccione la ubicación del sonido: </label>
                                        <button class="btn btn-outline-primary" style="margin-left: 1rem;"
                                        (click)="encontrarUbicacion()">Usar
                                            mi ubicación</button>
                                    </div>

                                    <div class="mt-2" id="mapid">
                                    </div>
                                </div>




                                <div class="row mt-5 col-md-10">

                                    <label class="form-label" for="audio">Cargar audio: </label>
                                    <input type="file" class="form-control mb-3" id="audio" name="audio"
                                        accept="audio/*" (change)="onAudiochange($event)">

                                    <audio #audioTag controls>
                                        <source [src]="audioSrc" type="audio/mpeg">
                                    </audio>


                                </div>

                            </div>

                        </div>









                    </form>
                </div>

            </div>

        </div>
    </div>

</div>