

.form-label{
    font-size: 1.3rem;
    color: #000;
    font-weight: 500;
}

.form-control{
    border-radius: 20px;
}

textarea{
    border-radius: 20px;
}

textarea::after{
    border-radius: 20px;
}


#mapid{
    height: 280px;
    width: 100%;
    border-radius: 20px;
}

#drop-area{
    width: 500px;
    height: 250px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}


#img-view{
    width:100%;
    height: 100%;
    border-radius: 20px;
    border: 3px dashed #bbb;
    background: #f7f8ff;;
    background-position: center;
    background-size: cover;
}

#img-view img{
    width: 120px;

}

#img-view span{
    display: block;
    font-size: 15px;
    color: #777;
    margin-top: 5px;
}

#img-view p{
    display: block;
    font-size: 20px;

}

.btn-outline-primary{
    border-radius: 20px;
    border-color: #001148;
    color: #001148;
}

.btn-outline-primary:hover{
    background-color: #001148;
    color: #fff;
}

.btn-outline-danger{
    border-radius: 20px;

}

.btn-outline-primary:danger{
    color: #fff;
}

.btn-primary{
    border-radius: 20px;
    background-color: #001148;
    border-color: #001148;
    width: 20rem;
    height: 3.5rem;
    margin-top: 2rem;
    font-size: x-large;
}

.btn-primary:hover{
    background-color: #002366;
    border-color: #002366;
}

@media only screen and (max-width: 600px) {
    #drop-area{
        width: 100%;
        height: auto;
    }

    #img-view img{
        width: 60px;
        background-size: cover;
    }

    #img-view span{
        font-size: 12px;
    }

    #img-view p{
        font-size: 16px;
    }

    #mapid{
        height: 300px;
        width: 100%;
        border-radius: 20px;
        margin-top: 1rem;
    }

    .btn-outline-primary{
        font-size: medium;
    }

    .btn-primary{
        width: 100%;
        height: 3rem;
        font-size: medium;
        margin-top: 3rem;
    }
    
    .space{
        margin-top: 2rem;
    }
}
