<div class="card d-flex">

  <div class="row">
    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
      <img src="./../../assets/imagenes/adminPP.jpeg" class="img-fluid" style="height: 150px;">
    </div>

    <div class="col-12 col-md-8 d-flex justify-content-center align-items-center">
      <button data-bs-toggle="modal" data-bs-target="#verinfoadmins" style="border:none; background: transparent;" (click)="ubicarAdmin()">
        <h4 style="margin-bottom: 30px; ">{{ admin.nombre }}</h4>
        <p style="margin-top: 10px; font-size: 20px;">{{ admin.correo }}</p>
      </button>
    </div>
  </div>
</div>

