<div class="card fondo d-flex">
    <div class="card-body">

        <div class="d-flex mb-3">
            <h1>Perfil</h1>
        </div>

        <div class="portada-container">
            <img src="assets/imagenes/volcano.jpg" class="portada">
        </div>
        <div class="perfil-foto">
            <img src="assets/imagenes/adminPP.jpeg">
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="cardInfo">
                    <div class="card-body">
                        <h3 class="card-title">Id: <span>{{admin.id}}</span></h3>
                        <h3 class="card-title">Nombre: <span>{{admin.nombre}}</span></h3>
                        <h3 class="card-title">Correo: <span>{{admin.correo}}</span></h3>
                    </div>

                </div>
            </div>
        </div>


    </div>