.fondo {
    background-color: #f5f5f5;
}

.card-body {
    background-color: white;
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    box-shadow: 0px 2px 21px -1px rgba(0, 0, 0, 0.38);
}

.card {
    background-color: white;
}

#btn-paginacion {
    background-color: #001148;
    color: white;
    box-shadow: none;
    cursor: pointer;

}

#btn-paginacion:hover {
    background-color: #001148;
    color: white;
}

#btn-paginacion2 {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

#btn-paginacion2:hover {
    background: #DA291C;
    color: white;

}
a{
    color: #000;

}

p{
    font-size: large;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #DA291C;
    border-color: #DA291C;
}
.page-link {
    align-items: center;
    justify-content: center;
    display: flex;
}


.fotoTec{
    max-width: 50%;
    height: auto;
    margin-bottom: 1rem;

}

.logo{
    max-width: 800px;
    width: 100%;
}

@media only screen and (max-width:600px){
    .fotoTec{
        max-width: 100%;
    }

    .logo{
        width: 450px;
        height: 150px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    #drop-area {
        width: 100%;
        height: auto;
    }

    .row>.col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-12{
        margin-top: 1rem;
    }
}



@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#liacerca {
    opacity: 0; 
    animation: fadeInUp 0.9s ease forwards;
    animation-delay: calc(var(--order) * 0.5s);
}
