.fondo{
    background-color: #f5f5f5;
}

.card-body{
    background-color: white;
    border: 1px solid #E2E2E2; 
    border-radius: 20px;
    box-shadow: 0px 2px 21px -1px rgba(0,0,0,0.38);
}

.card{
    background-color: white;
}

#btn-paginacion{
    background-color: #001148;
    color: white;
}
#btn-paginacion2{
    color: #001148;
}

#btn-paginacion:hover{
    background-color: #001148;
    color: white;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    #drop-area {
        width: 100%;
        height: auto;
    }

    .row > .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


