<div class="container " style="height: 100%;">
    <div class="card" style="display: flex;place-content: center; border: none;height: 100%;">
        <div id="botonCerrar" style="width: 100%; margin:20px;display: flex;justify-content: left;">
            <button type="button" class="close" style="background: transparent; border: none; "
                (click)="desactivarEdicionDatosAdmin()">
                <span class="material-symbols-outlined" style=" font-size: 40px; ">
                    undo
                </span>
            </button>
        </div>

        <div class="row" style="place-content: center;display: flex;">
            <div class="col-md-12">
                <div class="card-body">
                    <div style="display: flex;width: 100%; justify-content: center;">
                        <h1><strong>Editar Administrador</strong></h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
