.form-label {
  font-size: 1.3rem;
  color: #000;
  font-weight: 500;
}

.form-control {
  background-color: #f1f3f4;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.input-group.has-validation {
  width: 100%;
}

.invalid-feedback {
  width: 100%;
}

input[type="checkbox"] {
  margin-top: 10px;
}

.btn-primary {
  border-radius: 20px;
  background-color: #001148;
  border-color: #001148;
  width: 20rem;
  height: 3.5rem;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

progress {
  border-radius: 5px;
  background-color: white;
}

progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: white;
}

progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: white;
}

progress[value="0"]::-webkit-progress-value { background-color: red; }
progress[value="1"]::-webkit-progress-value { background-color: red; }
progress[value="2"]::-webkit-progress-value { background-color: red; }
progress[value="3"]::-webkit-progress-value { background-color: yellow; }
progress[value="4"]::-webkit-progress-value { background-color: yellow; }
progress[value="5"]::-webkit-progress-value { background-color: green; }

.d-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  flex-wrap: wrap;
  width: 100%;
}

.tituloRegistrar {
  margin-bottom: 50px;
  justify-content: center;
}

.inner-card {
  padding: 20px;
  width: 100%;
}

.card-body {
  width: 100%;
}
