
<div class="d-flex" style="background-color: #EDEFF6; height: 100vh">

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white " style="width: 300px;height: auto; background-color: #1C232F; border-radius: 20px; margin: 5px;">

        <div #imagen class="d-flex">
            <img src="assets/imagenes/Sin_foto.png" style="width: 250px;height: 100px;">
        </div>
    
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link  d-flex text-white " aria-current="page">
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                    <p class="mb-0" >Perfil</p> 
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link d-flex text-white" aria-current="page">
                    <span class="material-symbols-outlined">
                        graphic_eq
                    </span>
                    <p class="mb-0" >Gestión de audios</p>
                    
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link  d-flex text-white" aria-current="page">
                    <span class="material-symbols-outlined">
                        manage_accounts
                    </span>
                    <p class="mb-0" > Gestión de administradores</p>
                   
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link  d-flex  text-white" aria-current="page">
                    <span class="material-symbols-outlined">
                        quick_reference_all
                    </span>
                    <p class="mb-0" >Historial</p>
                    
                </a>
            </li>
        </ul>

        <hr>
    
        <button class=" d-flex text-white" >
            <span class="material-symbols-outlined">
                logout
            </span>
            <p class="mb-0" >Salir</p>
        </button>
    </div>

    <div id="espacioderecha" >
        <div id="espacio" class="card">

        </div>
    </div>

</div>