.material-symbols-outlined {
    font-size: 45px;
}

li {
    background-color: transparent;
    margin: 10px;
    border-radius: 10px;
    border: transparent;
}

.sidebar.text-white{
    border-radius: 20px;
    padding: 10px;
}

.list-group-item:hover {
    background-color: #161C25;
    border-radius: 20px;
}

a {
    align-items: center;
}

p {
    margin-left: 20px;
}

#imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161C25;
    width: 100%;
    height: 15%;
    border-radius: 20px;
}


.music {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 80%;
    height: 200px;


    
}

.music .bar {
    width: 10px;
    height: 2px;
    border-radius: 10px;
    background-color: white;
    animation: up_down 1.5s ease-in-out infinite;
    margin: 2px;
}

@keyframes up_down {

    0%,
    100% {
        height: 2px;
    }

    50% {
        height: 80px;
    }
}

.music .bar:nth-child(1) {
    background-color: #364C7E;
    animation-delay: 2.6s;
}

.music .bar:nth-child(2) {
    background-color: #364C7E;
    animation-delay: 1.4s;
}

.music .bar:nth-child(3) {
    background-color: #364C7E;
    animation-delay: 1.2s;
}

.music .bar:nth-child(4) {
    background-color: white;
    animation-delay: 1s;
}

.music .bar:nth-child(5) {
    background-color: white;
    animation-delay: 0.8s;
}

.music .bar:nth-child(6) {
    background-color: white;
    animation-delay: 0.6s;
}

.music .bar:nth-child(7) {
    background-color: #D13342;
    animation-delay: 0.4s;
}

.music .bar:nth-child(8) {
    background-color: #D13342;
    animation-delay: 0.2s;
}

.music .bar:nth-child(9) {
    background-color: #D13342;
    animation-delay: 0.4s;
}

.music .bar:nth-child(10) {
    background-color: white;
    animation-delay: 0.6s;
}

.music .bar:nth-child(11) {
    background-color: white;
    animation-delay: 0.8s;
}

.music .bar:nth-child(12) {
    background-color: white;
    animation-delay: 1s;
}

.music .bar:nth-child(13) {
    background-color: #364C7E;
    animation-delay: 1.2s;
}

.music .bar:nth-child(14) {
    background-color: #364C7E;
    animation-delay: 1.4s;
}

.music .bar:nth-child(15) {
    background-color: #364C7E;
    animation-delay: 2.6s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nav-link.active {
    padding: 10px;
    color: #fff;
    background-color: #DA291C;
    border-color: #DA291C;
    opacity: 0.95;
    animation: fadeIn 2s;
    border-radius: 20px;
}

.list-group-item {
    cursor: pointer;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}

.sidebar {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

#botonMenu {
    display: none;
    border: none;
    background-color: transparent;
    width: 100px;
}

#cuadroGeneral {
    background-color: #EDEFF6;
    height: 100vh;
}

@media only screen and (max-width: 1024px) {

    #cuadroGeneral{
       width: 100%;
       height: 100vh;
    }

    .d-flex {
        flex-direction: column;
        height: auto;
    }

    #botonMenu {
        display: block;
        
    }

    #espacioderecha {
        flex-grow: 1;
        padding: 20px;
        height: auto;
        width: 100%; 
    }

    #imagen{
        height: 5%;
    }

    #hr{
        display: none !important;
    }
    .music {
        width: 200px;
        height: 100px;
    }
    

    .col-md-3{
        height: 100%;
    }

    .sidebar {
        background-color: #1C232F;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: none;
        animation: none;

    }
    .sidebar.active {
        display: block;
        animation: none;
    }

    #botonMenu{
        width: 20%;
        color: black !important;
        display: flex;
        align-items:flex-start;
    }
    .botoncin {
        display: flex;
        justify-content: flex-start;
      }

    #salir {
        margin-top: 0; 
    }

    #row1{
        height: auto;
        flex-direction: column;
    }
    #sidebarCollapse{
        width: 100% !important;
        animation: none;
    }
    #salir {
        margin-top: 0;
      }

}

@media (min-width: 768px) and (max-width: 1024px) {

  
    #probar {
      width: 100%;
      padding: 10px;
    }
  
    .sidebar {
      height: 100%;
      width: 100%;
    }
    .sidebar.active {
        display: block;
        animation: none;
    }
  
    .list-group-item {

      font-size: 1.2em;
    }
  }

  #salir {
    margin-top: 0;
  }


@media only screen and (min-width: 1024px){
    .botoncin{
        display: none;
    }
    
}