
<div class="d-flex" style="background-color: #EDEFF6; height: 100vh">

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white " style="width: 300px;height: auto; background-color: #1C232F; border-radius: 20px; margin: 5px;">

        <div class="d-flex" style="background-color: #161C25; align-items: center; justify-content: center; width: 100%;height: 15%; padding: 0; border-radius: 20px;">
            <img src="assets/imagenes/Sin_foto.png" style="width: 250px;height: 100px;">
        </div>
    
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link  d-flex align-items-center  text-white " aria-current="page">
                    <span class="material-symbols-outlined">
                        account_circle
                    </span>
                    <p class="mb-0" style="margin-left: 20px;" >Perfil</p> 
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link  d-flex align-items-center  text-white" aria-current="page">
                    <span class="material-symbols-outlined">
                        graphic_eq
                    </span>
                    <p class="mb-0" style="margin-left: 20px;">Gestión de audios</p>
                    
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link  d-flex align-items-center text-white" aria-current="page">
                    <span class="material-symbols-outlined">
                        manage_accounts
                    </span>
                    <p class="mb-0" style="margin-left: 20px;"> Gestión de administradores</p>
                   
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link  d-flex align-items-center text-white" aria-current="page">
                    <span class="material-symbols-outlined">
                        quick_reference_all
                    </span>
                    <p class="mb-0" style="margin-left: 20px;">Historial</p>
                    
                </a>
            </li>
        </ul>

        <hr>
    
        <button class=" d-flex align-items-center text-white" style="background-color: #1C232F; border: transparent; margin: 10px;">
            <span class="material-symbols-outlined">
                logout
            </span>
            <p class="mb-0" style="margin-left: 20px;">Salir</p>
        </button>
    </div>

    <div style="flex-grow: 1; padding: 20px; align-items: center;justify-content: center;height: auto;" >
        <div class="card" style="width: 100%; height: 100%; border-radius: 20px;">

        </div>
    </div>

</div>