<div id="cuadroGeneral" class="d-flex flex-wrap">
    <div class="container-fluid">
        <div id="row1" class="row" style="height: 100%; padding: 5px;">
            <div class="col-12 col-md-2" style="height: auto;">
                <!-- Sidebar -->
                <div class="sidebar text-white" style="background-color:#1C232F;height: auto;" >
                    <button class="btn btn-outline-light d-xl-none text-white" type="button" data-bs-toggle="collapse"
                        data-bs-target="#sidebarCollapse" aria-expanded="false" aria-controls="sidebarCollapse">
                        <span class="material-symbols-outlined">
                            menu
                        </span>
                    </button>

                    <div class="collapse d-xl-block" id="sidebarCollapse">

                        <div id="imagen" class="d-flex">
                            <div class="music">
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                            </div>


                        </div>
                        <hr id="hr">

                        <ul class="list-group">
                            <li class="list-group-item" (click)="seleccionarEspacio('perfil')">
                                <div *ngIf="flagPerfil ; else perfilNoActive">
                                    <a class="nav-link active d-flex text-white " aria-current="page">

                                        <span class="material-symbols-outlined">
                                            account_circle
                                        </span>
                                        <p class="mb-0">Perfil</p>
                                    </a>
                                </div>

                                <ng-template #perfilNoActive>
                                    <a class="nav-link d-flex text-white " aria-current="page">

                                        <span class="material-symbols-outlined">
                                            account_circle
                                        </span>
                                        <p class="mb-0">Perfil</p>
                                    </a>
                                </ng-template>

                            </li>
                            <li class="list-group-item" (click)="seleccionarEspacio('gestionDeAudios')">
                                <div *ngIf="flagGestionDeAudios ; else gestionDeAudiosNoActive">
                                    <a class="nav-link active d-flex text-white" aria-current="page">
                                        <span class="material-symbols-outlined">
                                            graphic_eq
                                        </span>
                                        <p class="mb-0">Gestión de audios</p>

                                    </a>
                                </div>
                                <ng-template #gestionDeAudiosNoActive>
                                    <a class="nav-link d-flex text-white" aria-current="page">
                                        <span class="material-symbols-outlined">
                                            graphic_eq
                                        </span>
                                        <p class="mb-0">Gestión de audios</p>

                                    </a>
                                </ng-template>
                            </li>
                            <li class="list-group-item" (click)="seleccionarEspacio('gestionDeAdministradores')">
                                <div *ngIf="flagGestionDeAdministrador ; else gestionDeAdminitradorNoActive">
                                    <a class="nav-link active d-flex text-white" aria-current="page">
                                        <span class="material-symbols-outlined">
                                            manage_accounts
                                        </span>
                                        <p class="mb-0"> Gestión de administradores</p>

                                    </a>
                                </div>
                                <ng-template #gestionDeAdminitradorNoActive>
                                    <a class="nav-link d-flex text-white" aria-current="page">
                                        <span class="material-symbols-outlined">
                                            manage_accounts
                                        </span>
                                        <p class="mb-0"> Gestión de administradores</p>
                                    </a>
                                </ng-template>
                            </li>

                            <li class="list-group-item" (click)="seleccionarEspacio('historial')">
                                <div *ngIf="flagHistorial ; else historialNoActive">
                                    <a class="nav-link active d-flex  text-white" aria-current="page">
                                        <span class="material-symbols-outlined">
                                            quick_reference_all
                                        </span>
                                        <p class="mb-0">Historial</p>
                                    </a>

                                </div>

                                <ng-template #historialNoActive>
                                    <a class="nav-link d-flex  text-white" aria-current="page">
                                        <span class="material-symbols-outlined">
                                            quick_reference_all
                                        </span>
                                        <p class="mb-0">Historial</p>
                                    </a>
                                </ng-template>
                            </li>
                        </ul>

                        <ul id="salir" class="list-group" style="margin-top: 180px;">
                            <hr>
                            <li class="list-group-item">
                                <a class="nav-link d-flex text-white">
                                    <span class="material-symbols-outlined">
                                        logout
                                    </span>
                                    <p class="mb-0">Salir</p>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
            <div class=" col-12 col-md-10">
                <!-- Main content area -->
                <div class="content" style="height: 100%;">
                    <div *ngIf="flagPerfil; else gestionDeAudiosBlock">
                        <!-- Contenido para flagPerfil -->
                        <app-perfil></app-perfil>
                    </div>
                    
                    <ng-template #gestionDeAudiosBlock>
                        <div *ngIf="flagGestionDeAudios; else gestionDeAdministradorBlock">
                            <!-- Contenido para flagGestionDeAudios -->
                            <app-gestion-de-audios></app-gestion-de-audios>
                        </div>
                    </ng-template>
                    
                    <ng-template #gestionDeAdministradorBlock>
                        <div *ngIf="flagGestionDeAdministrador; else historialBlock">
                            <!-- Contenido para flagGestionDeAdministrador -->
                            <app-gestion-de-administradores></app-gestion-de-administradores>
                        </div>
                    </ng-template>
                    
                    <ng-template #historialBlock>
                        <div *ngIf="flagHistorial">
                            <!-- Contenido para flagHistorial -->
                            <app-historial></app-historial>
                        </div>
                    </ng-template>
                    
                </div>
            </div>
        </div>
    </div>

</div>